<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="IPAddress" value="10.10.10.10" />
        <add key="SoftwarePort" value="10000" />
        <add key="ModulePassword" value="password" />
    </appSettings>
</configuration>